body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/img/imagen.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1); /* Fondo ligeramente transparente */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Desenfoca la caja de login */
}

.login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    appearance: none; /* Para quitar el estilo del select */
}

.input-box select option {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

button {
    background: #03a9f4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0288d1;
}

p {
    color: #fff;
    font-size: 14px;
}

p a {
    color: #03a9f4;
    text-decoration: none;
}
