<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th,
      td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      .barra {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    {% if reportes %}
    <div class="alumno-container">
      <h1>Reportes de Asistencia y Rasgos</h1>
      <h2>Alumno: {{ alumno[1] }} {{ alumno[2] }} - {{ alumno[5] }}</h2>

      <table border="1" class="tablaAlumnos">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Horario</th>
            <th>Fecha</th>
            <th>Rasgos Conductuales</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reportes %}
          <tr data-fecha="{{ report[2] }}">
            <td>{{ report[0] }}</td>
            <td>{{ report[1] }}</td>
            <td>{{ report[2] }}</td>
            <td>
              <ul>
                {% for rasgo in rasgos[report[0]] %}
                <li>{{ rasgo }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </body>
</html>
